<p id="notice"><%= notice %></p>

<h1>Syllabi</h1>

<%= paginate @syllabi %>

<% @syllabi.each do |syllabus| %>
  <div>
    <h4><%= link_to syllabus.title, syllabus %></h4>
    <ul>
      <% for book in syllabus.books %>
        <li>
        	<%= link_to book.title, book %>
          (<%= link_to 'Coassigned', action: 'coassigned', id: book.id %>)
        </li>
      <% end %>
    </ul>
  </tr>
<% end %>
