<p id="notice"><%= notice %></p>

<p>
  <strong>Osp doc:</strong>
  <%= @syllabus.osp_doc_id %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @syllabus.institution %>
</p>

<p>
  <strong>Year:</strong>
  <%= @syllabus.year %>
</p>

<p>
  <strong>Field:</strong>
  <%= @syllabus.field %>
</p>

<p>
  <strong>CIP:</strong>
  <%= @syllabus.cip %>
</p>

<h2>Reading list</h2>
<ul>
  <% for book in @syllabus.books %>
    <li><%= link_to book.title, book %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_syllabus_path(@syllabus) %> |
<%= link_to 'Back', syllabi_path %>
